bpython==0.22.1
brotli==1.0.9
cffi==1.15.0
ConfigParser==5.2.0
cryptography==36.0.2
cx_Oracle==8.3.0
Cython==0.29.28
defusedxml==0.7.1
django_model_utils==4.2.0
django_tables2==2.4.1
django_tastypie==0.14.4
djangorestframework==3.13.1
dl==0.1.0
docutils==0.18.1
flake8==4.0.1
graphviz==0.19.1
HTMLParser==0.0.2
ipdb==0.13.9
ipython==8.2.0
ipywidgets==7.7.0
jnius==1.1.0
keyring==23.5.0
lxml==4.8.0
mypy_extensions==0.4.3
MySQL-python==1.2.5
numpy==1.22.3
olefile==0.46
ordereddict==1.1
pathlib2==2.3.7.post1
pip_api==0.0.29
protobuf==3.20.0
pyenchant==3.2.2
pylama==8.3.8
pylibmc==1.6.1
pymemcache==3.5.2
pyOpenSSL==22.0.0
PyQt5==5.15.6
PyQt6==6.2.3
PySide2==5.15.2.1
PySide6==6.2.4
pytest==7.1.1
python_memcached==1.59
pywatchman==1.4.1
PyYAML==6.0
railroad==0.5.0
sets==0.3.2
simplejson==3.17.6
Sphinx==4.5.0
tblib==1.7.0
tornado==6.1
unicodedata2==14.0.0
xmlrpclib==1.0.1
